.comic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comic__header {
  display: flex;
  justify-content: space-around;
}

.comic__title {
  font-family: "Architects Daughter";
  font-weight: bolder;
}

.comic__next-icon {
  width: 20px;
  height: auto;
  margin-left: 50px;
  transition: all ease-in-out 500ms;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}

.comic__image {
  max-height: 100%;
  width: auto;
  height: auto;
}
