@import "normalize";
@import "header";
@import "raiting";
@import "comic";
@import "loading";

.container {
  display: flex;
  margin-top: 50px;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
